<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Addiction Recovery</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/css/foundation.min.css">
</head>
<body>
  {% include 'partials/_topnav.html' %}

  {% block content %}
  {% endblock %}

  {% include 'partials/_footer.html' %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/js/foundation.min.js"></script>
</body>
</html>
